<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ sách</title>
</head>
<body>
    <table id="cart_Table", border="1"> 
        <thead> 
            <tr>
                <th>
                    Mã hiệu sách
                </th> 
                <th>
                    Tên hiệu sách
                </th> 
                <th>
                    Số lượng
                </th> 
                <th>
                    Lưu
                </th> 
                <th>
                    Xóa
                </th>
            </tr>
             </thead>
             <tbody id="cart_Table_Body">

             </tbody>
    </table> 
    <button>Lưu thay đổi</button>  
    <br>
    <button id="borrow_Book">Mượn sách</button> 
    <br> 
    <div id="borrowing_card_zone">
        
    </div>

    
    <script src="http://localhost:8080/Test/js/bookCart.js"></script>
</body>
</html>