<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form id="changePassword"> 
        <label for="oldPassword">Old Password: </label> 
        <input type="password" id="oldPassword">  
        <br> 
        <label for="newPassword">New  Password: </label> 
        <input type="password" id="newPassword">  
        <br> 

        <label for="repeatNewPassword">Repeat New Password: </label> 
        <input type="password" id="repeatNewPassword">  
        <br> 

        <input type="submit" value="Change">
    </form> 
    <p id="changePassword_state"></p> 
    <script src="http://localhost:8080/Test/js/ChangePassword.js"></script>
</body>
</html>