<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Normal Info</title>
</head>
<body>
    <form id="changeNormalInfo"> 
        <label for="fullName_normalInfo">FullName: </label> 
        <input type="text" id="fullName_normalInfo"> 
        <br> 
        <label for="address_normalInfo">Address: </label> 
        <input type="text" id="address_normalInfo">  
        <br> 
        <label for="phoneNumber_normalInfo">Phone Number: </label> 
        <input type="text" id="phoneNumber_normalInfo"> 
        <br> 
        <input type="submit" value="Change"> 
    </form> 
    <p id="changeNormalInfo_state"></p> 
    <script src="http://localhost:8080/Test/js/ChangeNormalInfo.js"></script>
</body>
</html>