<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id ="LoginForm">  
        <label for="nameOrEmail_login">Name or Email: </label>  
        <input type="text" id="nameOrEmail_login" required> 
        <br> 
        <label for="password_login">Password: </label> 
        <input type="password" id="password_login" required> 
        <br> 
        <input type="submit" value="Login">
    </form> 
    <p id="state_login"></p> 
    <script src="http://localhost:8080/Test/js/LoginScript.js"></script>
</body>
</html>